@model IEnumerable<NET_Mom3.Models.CD>

@{
    ViewData["Title"] = "CD-skivor";
}

<h1>CD-skivor</h1>

<p>
    <a asp-action="Create">Lägg till ny CD</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Utgivningsdatum
            </th>
            <th>
                Antal låtar
            </th>
            <th>
                Total låtlängd
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tracks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
